.body_box{
 height: 2000px; //pte quitar
 background-color: yellow; 
 margin-left: 7%; 
 margin-right: 7%;

}
.body_box_control{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
    
}
.body_box_control-img{
    display: flex;
    align-content: center;
    align-items: center;
    width: 40%;
    justify-content: center;
    min-width: 300px;
    
  
   

}

.img-pokedex{
    
    object-fit: contain;
    width: 100%;
    
    
}
.body_box_control-botones{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 50px;
    width:60% ;
    justify-content: space-around;
    
}
.body_box_control-botones_bttBusqueda{
    font-size:85% ;
}
.body_box_control-botones_input{
    width: 50%;
    height: 50px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow; 

    

}
.carta{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
    background-color:burlywood;
    font-size: 30px;
    

}
.carta_nombreImg{
width: 300px;
display:flex ;
justify-content: center;
flex-direction: column;
}

.fotopokemon{
    object-fit: contain;
    width: 100%; 
}
.centrado{
    display: flex;
    justify-content: center;
}
.idTipo{
    display: flex;
    height: 78px;
    justify-content: space-around;
    align-items: center;
}
.borde{
    border:solid
}