.grass{
    background-color: green;
}
.normal{
    background-color: coral;
}
.fire{
    background-color: red;
}
.flying{
    background-color:aquamarine;
}
.ice{
    background-color: blue;
}
.water{
    background-color: cadetblue;
}
.psychic{
    background-color: blueviolet;
}
.poison{
    background-color: darkmagenta;
}
.ghost{
    background-color: black;
}
.fighting{
    background-color:darkolivegreen ;
}
.electric{
    background-color: rgb(161, 161, 33);
}
.rock{
    background-color: dimgray;
}
.ground{
    background-color: brown;
}
.bug{
    background-color: chartreuse;
}
.dragon{
    background-color: deeppink;
}
.fairy{
    background-color: crimson;
}